// 也可写less等其他CSS预处理器

// 添加前缀防止类名冲突
// less 语法
// @libPrefix: 'su';
// @btnPrefix: ~'@{libPrefix}-btn';
// .@{btnPrefix} {
//   // styles
// }

// $libPrefix: 'su';
// $btnPrefix: '#{$libPrefix}-btn';
// 以上可提取至公共变量文件 style/common.scss
// @use '../style/common.scss' as var;
// .#{var.$btnPrefix} {
//   //styles
// }
@use '../style/variable.scss' as *;

.#{$btnPrefix} {
  font-size: $super-ui-button-content-font-size;
  height: $super-ui-button-height;
  padding: $super-ui-button-padding;
  cursor: pointer;
  transition: 0.2s linear;
  background-color: $super-ui-white-color;
  border-radius: 6px;
  border: 1px solid $super-ui-black-color;
  &-primary {
    background-color: $super-ui-primary-color;
    color: $super-ui-white-color;
    border-color: $super-ui-primary-color;
  }
  &-disabled {
    background-color: $super-ui-button-bg-color-disabled;
    color: $super-ui-button-color-disabled;
    border: 1px solid $super-ui-button-bg-color-disabled;
    cursor: not-allowed;
  }
}
